<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} - {{ site.title }}</title>
        <meta name="viewport" content="width=device-width">
        {% css_asset_tag global %}
        - /_css/base.sass
        {% endcss_asset_tag %}
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div id="main-box" class="span5">
            <span class="content">
              {{ content }}
            </span>
            {% include links.html %}
          </div>
        </div>
      </div>
    </body>
</html>
