@font-face {
  font-family: 'info_icons';
  src: url('../font/info_icons.eot?96278476');
  src: url('../font/info_icons.eot?96278476#iefix') format('embedded-opentype'),
       url('../font/info_icons.woff?96278476') format('woff'),
       url('../font/info_icons.ttf?96278476') format('truetype'),
       url('../font/info_icons.svg?96278476#info_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'info_icons';
    src: url('../font/info_icons.svg?96278476#info_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "info_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-at:before { content: '\e807'; } /* '' */
.icon-interests:before { content: '\e806'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-tags:before { content: '\e804'; } /* '' */
.icon-code:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-company:before { content: '\e805'; } /* '' */
.icon-university:before { content: '\e800'; } /* '' */